.svgonclock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-chart {
  position: absolute;
  margin: 0px 0px;
  max-width: 100%;
  max-height: 250px;
}

svg {
  z-index: 1000;
  width: 230px;
  height: 250px;
}

.circle {
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  /* stroke-dasharray: 20, 100; */
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
